@import "tailwindcss";

@layer components {
  .input {
    @apply w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500;
  }
  .btn {
    @apply w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700;
  }
}
